.container {
	height: 100%;

	background-color: var(--primary-color);
	display: flex;
	align-items: center;
}

.mat-toolbar {
	background-color: var(--primary-color) !important;
}

.mat-button {
	color: var(--primary-color) !important;
}

mat-mdc-focus-indicator {
	background-color: red !important;
}

mdc-button__label {
	background-color: red;
}

mat-card-title {
	color: var(--primary-color);
}

mat-card-header {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.input-field {
	display: block;
	text-align: center;
}

.login-card {
	/* max-width: 400px; */
	margin: 50px auto;
	padding: 20px;
}

.login-btn {
	margin-top: 30px;
}

form {
	display: block;
	text-align: center;
}


mat-form-field {
	width: 400px;
	margin: 5px auto;
}

mat-card {
	width: 600px;
}

.login-btn-enabled {
	background-color: green;
	color: white;
}

/* Define the styles for the button when it is disabled */
.login-btn-disabled {
	background-color: grey;
	color: darkgray;
}