<div class="orders">
    <h2>Delivery Person</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Profil</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Entrepot</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let person of showAll
                        ? deliveryPerson
                        : (deliveryPerson | slice : 0 : 10);
                    let i = index
                "
                [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
                [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
            >
                <td>{{ person.trigramme }}</td>
                <td>
                    <img
                        src="assets/icons/bussiness-man.png"
                        alt=""
                        width="25px"
                    />
                </td>
                <td>{{ person.prenom }}</td>
                <td>{{ person.nom }}</td>
                <td>{{ person.email | email : person.prenom : person.nom }}</td>
                <td>{{ person.telephone }}</td>
                <td>{{ person.entrepot }}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="toggleShowAll()" class="btn btn-link">
        {{ showAll ? "Show Less" : "Show All" }}
    </button>
</div>
