<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="title">
      <h1>MOBILIS, Meublez Votre Style !</h1>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Que cherchez-vous ?" (input)="onSearch($event)">
      <button class="search-button">Chercher</button>
    </div>
    <div class="nav-options">
      <button routerLink="/home">Accueil</button>
      <button routerLink="/produit">Produits</button>
      <button routerLink="/basket">Panier</button>
      <div class="user-actions">
        <button *ngIf="!currentUser; else loggedInTemplate" routerLink="/signup">Hey ! Inscrivez-vous par ici</button>
        <ng-template #loggedInTemplate><span class="user-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span></ng-template>
      </div>
    </div>
  </div>
</nav>
