<div class="footer">
    <div class="overlay"></div>
    <div class="container">
        <p>Mobilis</p>

        <div class="social-icons">
            <mat-icon aria-hidden="false" fontIcon="facebook"></mat-icon>
            <!-- <mat-icon aria-hidden="false" fontIcon="x"></mat-icon> -->
            <mat-icon aria-hidden="false" fontIcon="tiktok"></mat-icon>
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
        </div>
        <p>&#169; 2024 <span>Groupe-07</span> All Right Reserved</p>
    </div>
</div>
