<!-- <app-planner-header></app-planner-header> -->

<div class="container" *ngIf="employeeTour">
    <div class="tour-info">
        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <!-- ==*==*==*==*==*              Tour Info            *==*==*==*==*==* -->
        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <div class="box">
            <div class="icon-title">
                <img src="assets/icons/schedule.png" alt="" width="35px" />
                <h5 class="tour-num">Date</h5>
            </div>
            <span id="tour-date">{{ employeeTour.tournee.reference }} </span>
        </div>

        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <!-- ==*==*==*==*==*              Tour Info            *==*==*==*==*==* -->
        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <div class="box">
            <div class="icon-title">
                <img src="assets/icons/roadmap.png" alt="" width="35px" />
                <h5 class="tour-num">Tour</h5>
            </div>
            <span id="tour-date">{{ employeeTour.tournee.reference }}</span>
        </div>

        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <!-- ==*==*==*==*==*      Delivery Personnel Info      *==*==*==*==*==* -->
        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <div class="box">
            <div class="icon-title">
                <img src="assets/icons/delivery.png" alt="" width="38px" />
                <h5>Delivery Personnel</h5>
            </div>
            <ul>
                <li>{{ employeeTour.prenom }} {{ employeeTour.nom }}</li>
            </ul>
        </div>

        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <!-- ==*==*==*==*==*             Truck Info            *==*==*==*==*==* -->
        <div class="box">
            <div class="icon-title">
                <img src="assets/icons/truck.png" alt="" width="35px" />
                <h5>Truck ID</h5>
            </div>
            <!-- <span>{{ employeeTour.tournee.camion?.immatriculation }}</span> -->
        </div>

        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <!-- ==*==*==*==*==*             Entrepot Info         *==*==*==*==*==* -->
        <div class="box">
            <div class="icon-title">
                <img src="assets/icons/warehouse.png" alt="" width="35px" />
                <h5>Entrepot</h5>
            </div>
            <span>{{ employeeTour.entrepot }}</span>
        </div>

        <!-- ==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==* -->
        <!-- ==*==*==*==*==*             Status Info           *==*==*==*==*==* -->
        <div class="box">
            <div class="icon-title">
                <img src="assets/icons/status.png" alt="" width="35px" />
                <h5>Status</h5>
            </div>
            <span>{{ employeeTour.tournee.etat }}</span>
        </div>
    </div>

    <!-- ==================== -->

    <div class="tour-details container">
        <!-- First Table -->
        <table>
            <thead>
                <tr>
                    <th>Delivery</th>
                    <th>Client</th>
                    <th>Address</th>
                    <th>Command ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let livraison of employeeTour.tournee.livraison">
                    <td>{{ livraison.reference }}</td>
                    <td *ngIf="livraison.commande.length > 0">
                        {{ livraison.commande[0].client.prenom }}
                        {{ livraison.commande[0].client.nom }}
                    </td>
                    <td *ngIf="livraison.commande.length > 0">
                        {{ livraison.commande[0].client.adresse.adresse }},
                        {{ livraison.commande[0].client.adresse.codePostal }}
                        {{ livraison.commande[0].client.adresse.ville }}
                    </td>
                    <td *ngIf="livraison.commande.length > 0">
                        {{ livraison.commande[0].reference }}
                    </td>
                    <td>
                        <select name="" id="">
                            <optgroup>
                                <option value="1">Pending</option>
                                <option value="2">Planned</option>
                                <option value="2">In Delivery</option>
                                <option value="3">Delivered</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <button (click)="toggleShowAllOrders()">
        {{ showAllOrders ? "Show Less" : "Show All" }}
    </button> -->
    </div>
</div>
<app-planner-footer></app-planner-footer>
