.tour-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--primary-color);
	margin: 30px;
	padding: 25px 50px;
	border-radius: 7px;
	cursor: pointer;
	margin: 20px 60px;
}

.box {
	text-align: center;
}

.box ul {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	margin-top: 10px;
}


.box span {
	margin: 0 5px;
	background-color: white;
	padding: 10px 12px;
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	letter-spacing: 1.1px;
	border-radius: 5px;
}

.box ul li {
	margin: 0 5px;
	background-color: white;
	padding: 10px 12px 10px 12px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--secondary-color);
	border-radius: 5px;
}





.deliv-name {
	background-color: var(--secondary-color);
	border-radius: 20px;
	padding: 2px;
	color: white;
	font-weight: 500;
	margin-bottom: 2px;
	display: flex;
	justify-content: center;
}


select {
	border: none;
	padding: 10px 10px;
	background-color: transparent;
	margin: 0 5px;
	outline: none;
	text-align: center;
	width: 120px;
	color: white;
	border-radius: 5px;

}

select option {
	text-align: center;
}

select optgroup {
	background: #fff;
	border-radius: 5px;
	border: none;
	color: var(--secondary-color);
}

.icon-title {
	justify-content: center;
	text-align: center;
	/* padding-top: 15px; */

}

.icon-title img {
	object-fit: contain;
	padding-top: 8px;
}

h5 {
	margin-top: 7px;
	margin-top: 4px;
	color: white;
	letter-spacing: 1.3px;
	font-weight: 500;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*            Start  details for each tour         */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.tour-details {
	display: flex;
	justify-content: center;
	color: white;
}

.tour-details table {
	width: 80%;
}

.tour-details td {
	letter-spacing: 1.1px;
	background-color: #dd9345;
}

.tour-details table {
	/* display: none; */
	border-radius: 10px;
	padding: 10px 0;
}


.tour-details table tr {
	padding: 5px;
}

.cdk-drag-preview {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	/* border: 1px solid #e10f0f; */
	background-color: var(--primary-color);
	color: white;
	width: 50%;
}

.cdk-drag-placeholder {
	opacity: 0;
}

tr.cdk-drag {
	background-color: #E5A053;
	cursor: move;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*              End details for each tour          */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/