<mat-toolbar>
    <span class="name">Mobilis</span>
    <span class="spacer"></span>
    <div class="header-image">
        <img src="assets/images/lamp.png" alt="Logo" />
    </div>

    <div class="nav">
        <button
            mat-button
            routerLink="/dashboard"
            routerLinkActive="active-link"
        >
            Dashboard
        </button>
        <button
            mat-button
            routerLink="/delivery-person"
            routerLinkActive="active-link"
        >
            Delivery Person
        </button>
        <button mat-button routerLink="/orders" routerLinkActive="active-link">
            Orders Details
        </button>
        <button mat-button routerLink="/tour" routerLinkActive="active-link">
            Tour
        </button>
    </div>
    <span class="spacer"></span>
    <div class="planner-info">
        <span class="planner-image-icon">
            <img
                src="assets/images/young-man.png"
                alt="Planner's Image"
                width="25px"
            />
        </span>
        <span class="planner-name">
            {{ name }}
        </span>
    </div>
</mat-toolbar>
