.spacer {
	flex: 0.5 0 auto;
}

.name {
	font-size: 25px;
	letter-spacing: 1.5px;
}

.name::first-letter {
	color: #fa722c;
	font-weight: bolder;
	font-size: 40px;
}

mat-toolbar {
	background-color: #74a1b6;
	color: white;
	padding: 50px 50px;
}

mat-toolbar button {
	color: white;
	font-weight: 100;
}

.accounts {
	background-color: #fa722c;
	padding: 8px 12px;
	border-radius: 20px;
}

.accounts:hover {
	color: #fa722c;
	background-color: white;
}

.nav {
	width: 550px;
	display: flex;
	justify-content: space-between;
}

.nav button {
	padding: 0 20px;
	transition: 0.2s;
}

.nav button:hover {
	/* color: var(--secondary-color); */
	border-radius: 40px;
	scale: 1.1;
}

mat-toolbar {
	position: relative;
	align-items: center;
}

.header-image {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	overflow: visible;
}

.header-image img {
	width: 150px;
	position: relative;
	top: 30px;
}

.planner-image-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 0.5px solid #fff;
	background-color: #fa722c;
	overflow: hidden;
}

.planner-image-icon img {
	display: block;
	max-width: 100%;
	height: auto;
}

.planner-info {
	display: flex;
	justify-content: space-between;
	width: 160px;
}

.planner-info .planner-name {
	font-size: 16px;
	font-weight: 400;
}

.active-link {
	background-color: var(--secondary-color);
	border-radius: 40px;
	scale: 1.1;
}