.tour-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--primary-color);
	margin: 30px;
	padding: 25px 50px;
	border-radius: 7px;
	cursor: pointer;
}

.test {
	text-align: center;
}

.test ul {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.add-icon {
	cursor: pointer;
	font-size: 18px;
	padding-top: 7px;
	color: white;
}

.test span {
	margin: 0 5px;
	background-color: white;
	padding: 6px 10px;
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	letter-spacing: 1.1px;
	border-radius: 5px;
}

.test ul li {
	margin: 0 5px;
	background-color: white;
	padding: 5px 12px 5px 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--secondary-color);
	border-radius: 5px;
}

input[type="checkbox"] {
	display: none;
}

.add-icon-deliv {
	margin: 0 20px 0 5px;
	background-color: transparent !important;
	color: white !important;
}


.deliv-name {
	background-color: var(--secondary-color);
	border-radius: 20px;
	padding: 2px;
	color: white;
	font-weight: 500;
	margin-bottom: 2px;
	display: flex;
	justify-content: center;
}

#close-icon {
	content: '-';
	font-family: 'Material Icons';
	display: inline-block;
	font-feature-settings: 'liga';
	font-size: 17px;
	margin-right: 5px;
	padding: 0px 0px;
	margin: 0 5px;
}

#add-icon {
	content: 'add';
	font-family: 'Material Icons';
	display: inline-block;
	font-feature-settings: 'liga';
	font-size: 17px;
	margin-right: 5px;
	padding: 0px 0px;
	margin: 0 5px;
}

select {
	border: none;
	padding: 8px 8px;
	background-color: white;
	margin: 0 5px;
	outline: none;
	text-align: center;
	width: 80px;
	color: var(--secondary-color);
	border-radius: 5px;
}

select option {
	text-align: center;
}

select optgroup {
	background: #fff;
	/* color: #222020; */
	border-radius: 5px;
	border: none;
	color: var(--secondary-color);
}


.icon-title {
	justify-content: center;
	text-align: center;
}

.icon-title img {
	object-fit: contain;
}

h5 {
	margin-top: 5px;
	color: white;
	letter-spacing: 1.3px;
	font-weight: 500;
}


/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*            Start  details for each tour         */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.tour-details {
	display: flex;
	justify-content: center;
}

.tour-details table {
	width: 80%;
}

.tour-details td {
	letter-spacing: 1.1px;
	background-color: #eeff;
}

.tour-details table {
	/* display: none; */
	border-radius: 10px;
	padding: 10px 0;
}


.tour-details table tr {
	padding: 5px;
}

.cdk-drag-preview {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	background-color: var(--primary-color);
	color: white;
	width: 50%;
}

.cdk-drag-placeholder {
	opacity: 0;
}

tr.cdk-drag {
	background-color: #f9f9f9;
	cursor: move;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*              End details for each tour          */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/




.control-panel {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.control-panel button {
	margin: 0 10px;
	padding: 20px;
	border-radius: 20px;
}