.dashboard {
	padding: 60px 50px;
	background-color: var(--primary-color);
}

.dashboard h1 {
	color: white;
	display: flex;
	flex-wrap: nowrap;
}

.boxes {
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 75%;
	margin: auto;
}