<table class="sub-table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Montant</th>
            <th>Need Montage</th>
        </tr>
    </thead>
    <tr *ngFor="let item of order">
        <td>{{ item.produit.reference }}</td>
        <td>{{ item.produit.titre }}</td>
        <td>{{ item.quantite }}</td>
        <td>{{ item.produit.prix * item.quantite }}</td>
        <td>{{ item.produit.optionMontage ? "Yes" : "No" }}</td>
    </tr>
</table>
