.info-box {
	border-radius: 15px;
	padding: 20px;
	margin: 10px;
	background-color: #ffff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: block;
	width: 120px;
	transition: 0.3s;
}

.info-icon {
	text-align: center;
}

.info-content {
	text-align: center;
}

.info-title {
	font-size: 1rem;
	margin-top: 8px;
	margin-bottom: 15px;
}

.info-count {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 7px;
}

.info-link {
	text-decoration: none;
	color: #aaa;
	font-size: 10px;
	transition: 0.2s;
}

.info-link:hover {
	color: var(--secondary-color);
	scale: 1.8;
}

.info h3 {
	text-align: center;
}

.info-box:hover {
	transform: scale(1.08);
	cursor: pointer;
}