.info-box {
	border-radius: 15px;
	padding: 30px 30px;
	margin: 15px;
	background-color: #ffff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: block;
	width: 170px;
	height: 160px;
	transition: 0.3s;
}

.info-icon {
	text-align: center;
}

.info-content {
	text-align: center;
	padding-top: 5px;
	margin-bottom: 20px;
}

.info-title {
	font-size: 20px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 8px;
	padding-top: 5px;
}

.info-count {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}

.info-link {
	text-decoration: none;
	color: #aaa;
	font-size: 13px;
	transition: 0.2s;
	/* margin-bottom: 15px; */
	/* margin-top: 5px; */
}

.info-link:hover {
	color: var(--secondary-color);
	scale: 1.8;
}

.info h3 {
	text-align: center;
}

.info-box:hover {
	transform: scale(1.08);
	cursor: pointer;
}